

#Imagen{
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  margin: auto;
}

#Imagen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#body{
  font-family: ARIAL, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #000
  
}

#encabezado{
  background-color: #222;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  padding: 0;
  background-color: #444;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;

}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
  margin: 0 1rem;
  border-radius: 30%;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#sobre_mi{
 justify-content: center;
}


#sobre_mi img{
  width: 50vw;
  height: 60vw;
  justify-content: center;
  margin: auto;

}


section h2{
  padding-bottom: 1rem;
}

section p{
padding-bottom: 1rem;
}



 


footer {
  text-align: center;
  background-color: #222;
  color: #ffffff;
  padding: 1rem;
}