@import './header.css';
@import './banner.css';
@import './contact.css';
@import './footer.css';
@import './SobreMi.css';
@import './Animaciones.css';

/* Set up initial values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Reusable classes */
.container {
  max-width: 1110px;
  margin: 0 auto;
}